body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

#cart-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

#cart-table th, #cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#cart-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cart-table tr:hover {
    background-color: #ddd;
}

#cart-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
button {
    
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
